@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 100;
  src: url("/font/IRANYekanX/woff/IRANYekanX-Thin.woff") format("woff"),
    url("/font/IRANYekanX/woff2/IRANYekanX-Thin.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 200;
  src: url("/font/IRANYekanX/woff/IRANYekanX-UltraLight.woff") format("woff"),
    url("/font/IRANYekanX/woff2/IRANYekanX-UltraLight.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 300;
  src: url("/font/IRANYekanX/woff/IRANYekanX-Light.woff") format("woff"),
    url("/font/IRANYekanX/woff2/IRANYekanX-Light.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 500;
  src: url("/font/IRANYekanX/woff/IRANYekanX-Medium.woff") format("woff"),
    url("/font/IRANYekanX/woff2/IRANYekanX-Medium.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 600;
  src: url("/font/IRANYekanX/woff/IRANYekanX-DemiBold.woff") format("woff"),
    url("/font/IRANYekanX/woff2/IRANYekanX-DemiBold.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 800;
  src: url("/font/IRANYekanX/woff/IRANYekanX-ExtraBold.woff") format("woff"),
    url("/font/IRANYekanX/woff2/IRANYekanX-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 900;
  src: url("/font/IRANYekanX/woff/IRANYekanX-Black.woff") format("woff"),
    url("/font/IRANYekanX/woff2/IRANYekanX-Black.woff2") format("woff2");
}
@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 950;
  src: url("/font/IRANYekanX/woff/IRANYekanX-ExtraBlack.woff") format("woff"),
    url("/font/IRANYekanX/woff2/IRANYekanX-ExtraBlack.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 1000;
  src: url("/font/IRANYekanX/woff/IRANYekanX-Heavy.woff") format("woff"),
    url("/font/IRANYekanX/woff2/IRANYekanX-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: bold;
  src: url("/font/IRANYekanX/woff/IRANYekanX-Bold.woff") format("woff"),
    url("/font/IRANYekanX/woff2/IRANYekanX-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: normal;
  src: url("/font/IRANYekanX/woff/IRANYekanX-Regular.woff") format("woff"),
    url("/font/IRANYekanX/woff2/IRANYekanX-Regular.woff2") format("woff2");
}
