@font-face {
  font-family: "IrSansX";
  font-weight: 900; /* ExtraBold */
  font-style: normal;

  src: url("/font/woff2/IRSansXFaNum-ExtraBold.woff2") format("woff2"),
    url("/font/woff/IRSansXFaNum-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "IrSansX";
  font-weight: 100; /* Thin */
  font-style: normal;

  src: url("/font/woff2/IRSansXFaNum-Thin.woff2") format("woff2"),
    url("/font/woff/IRSansXFaNum-Thin.woff") format("woff");
}

@font-face {
  font-family: "IrSansX";
  font-weight: 600; /* SemiBold */
  font-style: normal;

  src: url("/font/woff2/IRSansXFaNum-SemiBold.woff2") format("woff2"),
    url("/font/woff/IRSansXFaNum-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "IrSansX";
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url("/font/woff2/IRSansXFaNum-Regular.woff2") format("woff2"),
    url("/font/woff/IRSansXFaNum-Regular.woff") format("woff");
}

@font-face {
  font-family: "IrSansX";
  font-weight: 300; /* Light */
  font-style: normal;
  src: url("/font/woff2/IRSansXFaNum-Light.woff2") format("woff2"),
    url("/font/woff/IRSansXFaNum-Light.woff") format("woff");
}

@font-face {
  font-family: "IrSansX";
  font-weight: 200; /* ExtraLight */
  font-style: normal;
  src: url("/font/woff2/IRSansXFaNum-UltraLight.woff2") format("woff2"),
    url("/font/woff/IRSansXFaNum-UltraLight.woff") format("woff");
}

@font-face {
  font-family: "IrSansX";
  font-weight: 700; /* Bold */
  font-style: normal;
  src: url("/font/woff2/IRSansXFaNum-Bold.woff2") format("woff2"),
    url("/font/woff/IRSansXFaNum-Bold.woff") format("woff");
}

@font-face {
  font-family: "IrSansX";
  font-weight: 800; /* ExtraBold */
  font-style: normal;

  src: url("/font/woff2/IRSansXFaNum-ExtraBold.woff2") format("woff2"),
    url("/font/woff/IRSansXFaNum-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "IrSansX";
  font-weight: 900; /* Black */
  font-style: normal;
  src: url("/font/woff2/IRSansXFaNum-Black.woff2") format("woff2"),
    url("/font/woff/IRSansXFaNum-Black.woff") format("woff");
}
